<section class="banner">
  <div class="container text-left">
    <div class="row mb-4">
      <div class="col-lg-1"></div>
      <div class="col-lg-9"></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-1 text-center" style="padding-top:5px">
        <div class="fs-3 mb-3 rounded-circle" style="background-color:red">
          <p class="bi bi-whatsapp text-white"></p>
        </div>
        <div class="fs-3 mb-3 rounded-circle" style="background-color:red">
          <p class="bi bi-linkedin text-white"></p>
        </div>
        <div class="fs-3 mb-3 rounded-circle" style="background-color:red">
          <p class="text-white bi bi-youtube"></p>
        </div>
      </div>
      <div class="col-lg-10 text-white">
        <h1>Você se preparou o bastante para brilhar no teste? <br /> A jornada do conhecimento é empolgante e desafiadora ! <br />Mostre todo o seu potencial e conquiste o sucesso que você merece!</h1>
        <div class="row m-0 p-0 pb-4">
          <div class="col-8 p-0 ">
            <br />
            <br />
            <h4>Uma iniciativa L.M.P Educação Corporativa & BRT Tec Source.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="py-5 container-fluid">
  <div class="container" style="background-color: #e4e9ee">
    <div class="row align-items-center">
      <div class="col-4 ">
        <figure class="my-4">
          <img class="img-fluid mx-auto d-block" src="assets/img/imgQuizz.png" alt="imagemQuizz" />
        </figure>
      </div>
      <div class="col-8">
        <div class="col-6">
          <input type="text" class="form-control mb-4" placeholder="Digite seu nome">
        </div>
        <div class="col-6">
          <input type="text" class="form-control mb-4" placeholder="Digite seu CPF" apenasNumeros>
        </div>
        <div class="col-6">
          <input type="text" class="form-control mb-4" placeholder="Digite seu E-mail">
        </div>
        <div class="d-grid gap-2 d-flex justify-content-center">
          <button [ngxScrollTo]="'#destination'" class="btn btn-primary" type="button">Responder QUIZZ</button>
        </div>

      </div>
    </div>
    <div class="align-items-center text-center">
      <h3 class="mt-4 text-uppercase">Teste seus conhecimentos sobre reciclagem </h3>
    </div>
    <div class="mt-5 text-center">
      <h1 id="destination">  Boa sorte ! <br /> Ao concluir fale com o produtor  </h1>
    </div>
    <div class="mt-5">
      <div class="d-flex mb-4 align-itens-end">
        <div>
          <span class="texto-grande text-uppercase texto-roxo me-4">01</span>
        </div>
        <div>
          <h3 class="text-uppercase texto-roxo m-0 p-0"> Qual é o propósito de realizar Coleta Seletiva ? </h3>
        </div>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="pergunta1" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          A - Descarte inteligente e ecológico de resíduos ?
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="pergunta1" id="flexRadioDefault2">
        <label class="form-check-label" for="flexRadioDefault2">
          B - Separar materiais para se decompor juntos ?
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="pergunta1" id="flexRadioDefault3">
        <label class="form-check-label" for="flexRadioDefault3">
          C - Apenas auxilia a higiene dos ambientes ?
        </label>
      </div>
    </div>
    <div class="mt-5">

      <hr class="texto-roxo mb-4" style="height:2px;opacity:100%" />
      <div class="d-flex mb-4 align-itens-end">
        <div>
          <span class="texto-grande text-uppercase texto-roxo me-4">02</span>
        </div>
        <div>
          <h3 class="text-uppercase texto-roxo m-0 p-0"> Como os resíduos devem ser separados dentro de casa ? </h3>
        </div>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="pergunta2" id="flexRadioDefault4">
        <label class="form-check-label" for="flexRadioDefault4">
          A - Orgânico e Reciclável em lixeiras separadas ?
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="pergunta2" id="flexRadioDefault5">
        <label class="form-check-label" for="flexRadioDefault5">
          B - Orgânico e Reciclável na mesma lixeira ?
        </label>
      </div>
    </div>
    <div class="mt-5">
      <hr class="texto-roxo mb-4" style="height:2px;opacity:100%" />

      <div class="d-flex mb-4 align-itens-end">
        <div>
          <span class="texto-grande text-uppercase texto-roxo me-4">03</span>
        </div>
        <div>
          <h3 class="text-uppercase texto-roxo m-0 p-0"> O que significa os 3 R's ? </h3>
        </div>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="pergunta3" id="flexRadioDefault6">
        <label class="form-check-label" for="flexRadioDefault6">
          A - Reduzir, reutilizar e repaginar ?
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="pergunta3" id="flexRadioDefault7">
        <label class="form-check-label" for="flexRadioDefault7">
          B - Reduzir, repaginar e reciclar ?
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="pergunta3" id="flexRadioDefault8">
        <label class="form-check-label" for="flexRadioDefault8">
          C - Reduzir, reutilizar e reciclar ?
        </label>
      </div>
    </div>
    <div class="mt-5">
      <hr class="texto-roxo mb-4" style="height:2px;opacity:100%" />

      <div class="d-flex mb-4 align-itens-end">
        <div>
          <span class="texto-grande text-uppercase texto-roxo me-4">04</span>
        </div>
        <div>
          <h3 class="text-uppercase texto-roxo m-0 p-0">A lixeira de cor MARROM é relacionada a qual tipo de lixo ? </h3>
        </div>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="pergunta4" id="flexRadioDefault9">
        <label class="form-check-label" for="flexRadioDefault9">
          A - Plásticos ?
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="pergunta4" id="flexRadioDefault10">
        <label class="form-check-label" for="flexRadioDefault10">
          B - Orgânicos ?
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="pergunta4" id="flexRadioDefault11">
        <label class="form-check-label" for="flexRadioDefault11">
          C - Madeira ?
        </label>
      </div>
    </div>
    <div class="mt-5">
      <hr class="texto-roxo mb-4" style="height:2px;opacity:100%" />

      <div class="d-flex mb-4 align-itens-end">
        <div>
          <span class="texto-grande text-uppercase texto-roxo me-4">05</span>
        </div>
        <div>
          <h3 class="text-uppercase texto-roxo m-0 p-0">
            Os resíduos hospitalares devem ser descartados em qual
            lixeira ?
          </h3>
        </div>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="pergunta5" id="flexRadioDefault12">
        <label class="form-check-label" for="flexRadioDefault12">
          A - Vermelha ?
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="pergunta5" id="flexRadioDefault13">
        <label class="form-check-label" for="flexRadioDefault13">
          B - Preta ?
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="pergunta5" id="flexRadioDefault14">
        <label class="form-check-label" for="flexRadioDefault14">
          C - Branca ?
        </label>
      </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-5">
      <!-- Botão modal -->
      <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Enviar respostas
      </button>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 col align-self-center " id="exampleModalLabel">PARABENS !</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Procure um produtor para sua surpresa !
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
