<section class="banner">
  <div class="container text-left">
    <div class="row justify-content-center">
      <div class="col-lg-1 text-center" style="padding-top:5px">
        <div class="fs-3 mb-3 rounded-circle" style="background-color:red">
          <p class="bi bi-whatsapp text-white" ></p>
        </div>
        <div class="fs-3 mb-3 rounded-circle" style="background-color:red">
          <p class="bi bi-linkedin text-white"></p>
        </div>
        <div class="fs-3 mb-3 rounded-circle" style="background-color:red">
          <p class="text-white bi bi-youtube"></p>
        </div>
        </div>
        <div class="col-lg-10 text-white">
          <h1>SAIBA COMO FUNCIONAM <br /> AS COOPERATIVAS DE  <br />RECLICAGEM</h1>
          <div class="row m-0 p-0 pb-4">
            <div class="col-8 p-0 ">
              <br />
              <br />
              <h4>Uma iniciativa L.M.P Educação Corporativa & BRT Tec Source.</h4>
            </div>
          </div>
        </div>

      </div>
  </div>
</section>

<!--corpo-->
<div class="py-5 container-fluid">
  <div class="container">
    <figure class="my-4">
      <img class="w-100" src="assets/img/cooperativaImagemLarga.png" alt="ImagemIlustrativaRecicla" />
      <figcaption class="text-black-50">Baalbek cooperativa</figcaption>
    </figure>
    <p>
      A população brasileira produz mais de 78 milhões de toneladas de resíduos sólidos todos os anos e uma parcela considerável de todo esse lixo poderia ser reciclada. Mas segundo dados da
      <a href="https://abrelpe.org.br/" target="_blank">"Associação Brasileira de Empresas de Limpeza Pública"</a>
      (Abrelpe) apesar de termos infraestrutura para reciclar pelo menos 30% desses resíduos, apenas 4% são descartados corretamente e reaproveitados.
    </p>
    <p>
      De acordo com o
      <a href="http://www.snis.gov.br/" target="_blank">Sistemas Nacional de informações sobre o Saneamento</a>
      (SNIS), existem 1.153 cooperativas de resíduos sólidos devidamente registradas no país, que foram responsáveis pela coleta de 30,7% dos resíduos sólidos recolhidos em 2018, ano do último levantamento.
    </p>
    <p>Esses espaços também são responsáveis por gerar emprego e renda para milhares de trabalhadores brasileiros. Portanto, ao separar corretamente o lixo reciclável
    você não faz apenas sua parte pelo meio ambiente, mas garante dignidade para pessoas em condições de vulnerabilidade social.</p>
  </div>
</div>
<div class="py-5 container-fluid">
  <div class="container">
    <figure class="my-4">
      <img class="w-100" src="assets/img/ItensDeColeta/coletaSeletiva.jpeg" />

    </figure>
    <figcaption class="text-black">
      <p>
        A coleta seletiva é um processo fundamental no gerenciamento adequado de resíduos, visando a redução do impacto ambiental e a promoção da sustentabilidade.
        Seu funcionamento envolve uma série de etapas coordenadas que abrangem desde a conscientização da população até a destinação correta dos materiais recicláveis.
      </p>
      <p>
        Em primeiro lugar, a coleta seletiva depende da educação e conscientização da comunidade.
        Campanhas de conscientização são realizadas para informar e educar as pessoas sobre a importância da separação adequada dos resíduos e os benefícios ambientais da reciclagem.
      </p>
      <p>
        Uma vez conscientizados, os indivíduos são incentivados a separar os materiais recicláveis em suas casas, empresas e instituições.
        Isso geralmente é feito através da disponibilização de recipientes específicos para diferentes tipos de materiais, como papel, plástico, metal e vidro.
      </p>
      <p>
        Após a separação, os materiais recicláveis são coletados regularmente por serviços de coleta seletiva, que seguem rotas pré-determinadas para recolher os materiais dos pontos de coleta.
        Esses serviços podem ser realizados por empresas privadas, cooperativas de catadores ou pelos próprios municípios, dependendo da região e da organização local.
      </p>
      <p>
        Uma vez coletados, os materiais recicláveis são transportados para centros de triagem e reciclagem, onde passam por um processo de separação e classificação.
        Nesses centros, os materiais são organizados de acordo com seu tipo e qualidade, sendo preparados para serem vendidos como matéria-prima para indústrias recicladoras.
      </p>
      <p>
        Os materiais recicláveis são então processados ​​e transformados em novos produtos, reduzindo a necessidade de matéria-prima virgem e evitando o acúmulo de resíduos em aterros sanitários.
        Esses novos produtos podem incluir papel reciclado, plásticos reutilizados, metais fundidos e vidro reciclado, entre outros.
      </p>
      <p>
        Ao participar da coleta seletiva, os cidadãos contribuem para a conservação dos recursos naturais, a redução da poluição e a promoção de uma economia circular mais sustentável.
        Portanto, a coleta seletiva não apenas beneficia o meio ambiente, mas também gera empregos, promove a inclusão social e contribui para a qualidade de vida das comunidades.
      </p>
    </figcaption>
  </div>
</div>
