<section class="banner">
  <div class="container text-left">
    <div class="row justify-content-center">
      <div class="col-lg-1 text-center" style="padding-top:5px">
        <div class="fs-3 mb-3 rounded-circle" style="background-color:red">
          <p class="bi bi-whatsapp text-white" ></p>
        </div>
        <div class="fs-3 mb-3 rounded-circle" style="background-color:red">
          <p class="bi bi-linkedin text-white"></p>
        </div>
        <div class="fs-3 mb-3 rounded-circle" style="background-color:red">
          <p class="text-white bi bi-youtube"></p>
        </div>
        </div>
        <div class="col-lg-10 text-white">
          <h1>SAIBA COMO FUNCIONAM <br /> AS COOPERATIVAS DE  <br />RECLICAGEM</h1>
          <div class="row m-0 p-0 pb-4">
            <div class="col-8 p-0 ">
              <br />
              <br />
              <h4>Uma iniciativa L.M.P Educação Corporativa & BRT Tec source.</h4>
            </div>
          </div>
        </div>

      </div>
  </div>
</section>

<!--corpo-->
<div class="py-5 container-fluid">
  <div class="container">
    <figure class="my-4">
      <img class="w-100" src="assets/img/cooperativaImagemLarga.png" alt="ImagemIlustrativaRecicla" />
      <figcaption class="text-black-50">Baalbek cooperativa</figcaption>
    </figure>
    <p>
      A população brasileira produz mais de 78 milhões de toneladas de resíduos sólidos todos os anos e uma parcela considerável de todo esse lixo poderia ser reciclada. Mas segundo dados da
      <a href="https://abrelpe.org.br/" target="_blank">"Associação Brasileira de Empresas de Limpeza Pública"</a>
      (Abrelpe) apesar de termos infraestrutura para reciclar pelo menos 30% desses resíduos, apenas 4% são descartados corretamente e reaproveitados.
    </p>
    <p>
      De acordo com o
      <a href="http://www.snis.gov.br/" target="_blank">Sistemas Nacional de informações sobre o Saneamento</a>
      (SNIS), existem 1.153 cooperativas de resíduos sólidos devidamente registradas no país, que foram responsáveis pela coleta de 30,7% dos resíduos sólidos recolhidos em 2018, ano do último levantamento.
    </p>
    <p>Esses espaços também são responsáveis por gerar emprego e renda para milhares de trabalhadores brasileiros. Portanto, ao separar corretamente o lixo reciclável
    você não faz apenas sua parte pelo meio ambiente, mas garante dignidade para pessoas em condições de vulnerabilidade social.</p>
  </div>
</div>



<!--<div class="" style="background-color:black">
  <header class="imagemLargaCooperativa">
    <div class="container position-relative">
      <div class="row justify-content-center">
        <div class="col-xl-6">
          <div class="text-center text-white">-->
            <!-- Page heading-->
            <!--<h1 class="text-transparent">.</h1>
          </div>
        </div>
      </div>
    </div>

  </header>
  <div class="container text-center">
    <div class="row justify-content-md-center">
      <h1 class="mb-5 text-violeta text-bold">Generate more leads with a professional landing page!</h1>
    </div>
  </div>
</div>-->


<!--editar menu, faixa horixontal de ponta a ponta , espaço para colocar um logo decente e maior .
pegar em torno de 60% da pagina em container para exibir uma lista de opções de clique para direcionamento de paginas .
usar como espelho o site da miw-->
