<div class="" style="background-color:black">
  <header class="imagemLargaCooperativa">
    <div class="container position-relative">
      <div class="row justify-content-center">
        <div class="col-xl-6">
          <div class="text-center text-white">
            <!-- Page heading-->
            <h1 class="text-transparent">.</h1>
          </div>
        </div>
      </div>
    </div>

  </header>
  <div class="container text-center">
    <div class="row justify-content-md-center">
      <h1 class="mb-5 text-violeta text-bold">Generate more leads with a professional landing page!</h1>
    </div>
  </div>
</div>


<!--editar menu, faixa horixontal de ponta a ponta , espaço para colocar um logo decente e maior .
pegar em torno de 60% da pagina em container para exibir uma lista de opções de clique para direcionamento de paginas .
usar como espelho o site da miw-->
