.imagemLargaCooperativa {
  background: url('../../../assets/img/cooperativaimagemlarga.png') no-repeat center;
  position: relative;
  background-size: 900px;
  padding-top: 8rem;
  padding-bottom: 8rem;

}
.banner {
  background-color: #593e67;
}
.text-violeta {
  color: #444c8e;
}
