@import 'bootstrap/dist/css/bootstrap.css';

@media screen and (min-width:992px) {
  .nav-item {
    line-height: 80px;
  }
}

.pointer-custom {
  cursor: pointer;
}

/*.btn {
  padding: .55rem 1.5rem .45rem;
}
*/
