<div class="container-fluid py-4 bg-roxo">
  <div class="container">
    <div class="container text-left">
      <div class="row justify-content-center">
        <div class="col-lg-10 text-white">
          <h1>Projeto acadêmico <br /> com intuito de explorar <br />técnicas e aprendizados . </h1>
          <div class="row m-0 p-0 pb-4">
            <div class="col-8 p-0 ">
              <br />
              <br />
              <h4>Elaboração técnica do site por Bruno Tassi e textos, artigos e didatica por Lais Mara</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-5 container-fluid">
  <div class="container" style="background-color: #e4e9ee">
    <figure class="my-4">
      <img class="w-100" src="assets/img/2perfil.png" alt="ImagemPerfil" />
    </figure>
    <div class="row">
      <div class="d-flex justify-content-start col-6">
        <h3>LinkedIn Bruno Tassi <a href="https://www.linkedin.com/in/bruno-tassi-4a3b7115b/" target="_blank"><i class="bi bi-linkedin"></i></a></h3>
      </div>
      <div class="d-flex justify-content-start col-6">
        <h3>LinkedIn Lais Mara <a href="https://www.linkedin.com/in/la%C3%ADs-mara-478b11267/" target="_blank"><i class="bi bi-linkedin"></i></a></h3>
      </div>
    </div>
  </div>
</div>
<div class="py-5 container-fluid">
  <div class="container" style="background-color: #e4e9ee">
    <div class="text-center mb-4">
      <h3 class="text-danger text-uppercase">
        Através da reciclagem, vislumbramos um futuro mais brilhante para nossos primogênitos e para as gerações vindouras. Cada ação de reciclar é um passo em direção a um mundo mais sustentável, onde os recursos naturais são preservados e renovados para o bem-estar de todos.
        Ao reciclarmos, não apenas reduzimos o desperdício e a poluição, mas também cultivamos uma mentalidade de responsabilidade ambiental em nossas comunidades. Transformamos o descarte em oportunidade, dando uma segunda vida aos materiais e contribuindo para a preservação dos ecossistemas.
        É através da reciclagem que podemos mitigar os impactos negativos da atividade humana no meio ambiente. Ao adotarmos práticas de consumo consciente e reutilização de recursos, estamos moldando um mundo onde nossos filhos e netos possam crescer em harmonia com a natureza, usufruindo de um planeta mais limpo, mais saudável e mais sustentável.
        Que cada ato de reciclagem seja um lembrete do compromisso que temos com as futuras gerações, e que juntos possamos construir um mundo melhor para nossos primogênitos e para todos os habitantes do nosso precioso lar, a Terra.
      </h3>
      <br />
    </div>
  </div>
</div>
