<section class="container-fluid py-4 bg-roxo">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-1"></div>
      <div class="col-lg-9"></div>
    </div>
    <div class="container text-left">
      <div class="row justify-content-center">
        <div class="col-lg-1 text-center" style="padding-top:5px">
          <div class="fs-3 mb-3 rounded-circle" style="background-color:red">
            <p class="bi bi-whatsapp text-white"></p>
          </div>
          <div class="fs-3 mb-3 rounded-circle" style="background-color:red">
            <p class="bi bi-linkedin text-white"></p>
          </div>
          <div class="fs-3 mb-3 rounded-circle" style="background-color:red">
            <p class="text-white bi bi-youtube"></p>
          </div>
        </div>
        <div class="col-lg-10 text-white">
          <h1>Tudo o que voce precisa <br /> saber para começar a <br />reciclar </h1>
          <div class="row m-0 p-0 pb-4">
            <div class="col-8 p-0 ">
              <br />
              <br />
              <h4>Reciclagem: transformando o presente para um futuro sustentável.</h4>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</section>

<div id="conteudo" class="container-fluid mt-5">
  <div class="container fs-5 text">
    <p>A L.M.P Educacional junto com a BRT Tecnologia vão ajudar você, cheio de boa vontade, que só precisa de informação para começar a reciclar. </p>
    <p>Vamos dar aquela força para te transformar em um cidadão ambientalmente engajado e responsável pelos resíduos que gera diariamente.</p>
    <p>Vem com a gente!</p>
    <div class="text-center mb-4">
      <h2 class="text-danger text-uppercase text-center">
        SAIBA MAIS SOBRE A SEPARAÇÃO DE
        RECICLAGEM
      </h2>
      <br />
      <i [ngxScrollTo]="'#destination'" class="fs-1 bi bi-chevron-down"></i>
    </div>
    <div class="text-center mb-4">
      <h2 class="text-danger text-uppercase text-center">
        SAIBA MAIS SOBRE AS OUTRAS CORES
      </h2><br />
      <i [ngxScrollTo]="'#destination2'" class="fs-1 bi bi-chevron-down"></i>
    </div>

    <h2 class="text-danger text-uppercase text-center">Como reciclar?</h2>
    <h2 class="text-center">Veja abaixo</h2>
    <div class="text-center mb-4">
      <i class="fs-1 bi bi-chevron-down"></i>
    </div>
    <hr class="texto-roxo mb-4" style="height:2px;opacity:100%" />
    <div class="d-flex mb-4 align-itens-end">
      <div>
        <span class="texto-grande text-uppercase texto-roxo me-4">01</span>
      </div>
      <div>
        <h3 class="text-uppercase texto-roxo m-0 p-0">separe os resíduos em dois </h3>
      </div>

    </div>
    <p>
      A primeira coisa que você vai
      <a class="underline">
        fazer é separar o lixo em dois: comum e reciclável.
      </a> Portanto, você vai precisar ter duas lixeiras.
    </p>
  </div>
  <div class="container">
    <img class="w-100" src="assets/img/doisLixos.png" alt="duas lixeiras" />
    <hr class="texto-roxo mb-4" style="height:2px;opacity:100%" />
    <div class="d-flex mb-4 align-itens-end">
      <div>
        <span class="texto-grande text-uppercase texto-roxo me-4">02</span>
      </div>
      <div>
        <h3 class="text-uppercase texto-roxo m-0 p-0">limpe os materiais recicláveis</h3>
      </div>
    </div>
    <p>O segundo passo é a limpeza dos recicláveis.</p>
    <p>A ideia é sempre tentar retirar sobras de comida, de líquidos ou de produtos de limpeza.</p>
    <p>Descartar de qualquer jeito pode contaminar outros materiais e inviabilizar a reciclagem.</p>
    <p>Atenção! O importante é o material reciclável estar seco!</p>
    <p>
      Mas não se preocupe, vamos dar alguns exemplos de como higienizar de maneira fácil e sustentável. <br />
      Se liga!
    </p>
    <iframe class="my-5" width="100%" height="400" src="https://www.youtube.com/embed/BkGvkYMPzWI" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="">
    </iframe>
    <hr class="texto-roxo mb-4" style="height:2px;opacity:100%" />
  </div>
  <div class="container pt-5">
    <div class="d-flex mb-4 align-itens-end">
      <div>
        <span class="texto-grande text-uppercase texto-roxo me-4">03</span>
      </div>
      <div>
        <h3 class="text-uppercase texto-roxo m-0 p-0">Compacte os recicláveis</h3>
      </div>
    </div>
    <p>O último passo é compactar os resíduos e diminuir ao máximo seu volume.<br /> Assim, você economiza e ganha espaço.</p>
    <p>Amasse as latas, tire o ar das garrafas plásticas, desmonte e dobre as embalagens tetrapack e de papel.</p>
    <iframe class="my-5" width="100%" height="400" src="https://www.youtube.com/embed/rlG_6ya-sl4" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    <p>Pronto, agora que você aprendeu a descartar corretamente seus resíduos,</p>
    <p>faça sua parte! Seja responsável pelo lixo que você gera diariamente. Nosso mundo agradece!</p>
    <hr class="texto-roxo mb-4" style="height:2px;opacity:100%" />
  </div>
  <!--CONTEUDOS ADICIONAIS-->
  <div class="container-fluid py-5" id="destination" #destinationRef>
    <div class="container pt-5">
      <h2 class="text-uppercase texto-grande text-center texto-roxo">Saiba mais sobre a separação de <br /> reciclagem</h2>
      <div class="text-center mb-4 mt-5">
        <i class="fs-1 bi bi-chevron-down"></i>
      </div>
      <figure class="my-4">
        <img class="img-fluid w-100" src="../../../assets/img/ItensDeColeta/conhecerColeta.jpeg" />
      </figure>
      <p>
        Por aqui, o padrão de cores para separação de reciclagem é uma parte crucial do esforço nacional para promover a sustentabilidade e o gerenciamento adequado dos resíduos.
        Cada cor tem um significado específico, facilitando a identificação e a separação dos materiais recicláveis.
      </p>
      <br />
      <br />

      <figure class="my-4 text-center">
        <figcaption>O <span class="bg-danger text-uppercase" style="color:yellow">amarelo</span>, por exemplo, é associado à coleta de materiais como metal, plástico e vidro, representando a riqueza desses recursos e a importância de preservá-los.</figcaption>
        <div class="row d-flex justify-content-center">
          <div class="col-5 mr-1">
            <img class="img-fluid w-100" src="../../../assets/img/ItensDeColeta/amareloColeta.jpeg" />
          </div>
          <div class="col-5 ml-1">
            <img class="img-fluid w-100" src="../../../assets/img/ItensDeColeta/metalAmarelo.jpeg" />
          </div>
        </div>
      </figure>
      <br />
      <br />
      <figure class="my-4 text-center">
        <figcaption>O <span class="text-uppercase" style="color:white;background-color:blue">azul</span> é designado para papéis e papelões, símbolo da comunicação e do conhecimento que podem ser reintegrados ao ciclo produtivo.</figcaption>
        <div class="row d-flex justify-content-center">
          <div class="col-5 mr-1">
            <img class="img-fluid w-100" src="../../../assets/img/ItensDeColeta/azulColeta.jpeg" />
          </div>
          <div class="col-5 ml-1">
            <img class="img-fluid w-100" src="../../../assets/img/ItensDeColeta/papelAzul.jpeg" />
          </div>
        </div>
      </figure>
      <br />
      <br />
      <figure class="my-4  text-center">
        <figcaption>O <span class="text-uppercase" style="color:white;background-color:green">verde</span> cor da natureza, é reservado para os resíduos orgânicos, promovendo a compostagem e o retorno dos nutrientes ao solo.</figcaption>
        <div class="row d-flex justify-content-center">
          <div class="col-5 mr-1">
            <img class="img-fluid w-100" src="../../../assets/img/ItensDeColeta/verdeColeta.jpeg" />
          </div>
          <div class="col-5 ml-1">
            <img class="img-fluid w-100" src="../../../assets/img/ItensDeColeta/vidroVerde.jpeg" />
          </div>
        </div>
      </figure>
      <br />
      <br />
      <figure class="my-4 text-center ">
        <figcaption>O <span class="text-uppercase" style="color:red;background-color:yellow">vermelho</span> alerta para resíduos perigosos, como pilhas e baterias, destacando a necessidade de tratamento especializado para evitar danos ambientais e à saúde.</figcaption>
        <div class="row d-flex justify-content-center ">
          <div class="col-5 mr-1">
            <img class="img-fluid w-100" src="../../../assets/img/ItensDeColeta/vermelhoColeta.jpeg" />
          </div>
          <div class="col-5 ml-1">
            <img class="img-fluid w-100" src="../../../assets/img/ItensDeColeta/plasticoVermelho.jpeg" />

          </div>
        </div>
      </figure>
      <p class="text-center">Essas cores não apenas simplificam o processo de separação, mas também educam e conscientizam a população sobre a importância da reciclagem e da preservação do meio ambiente, incentivando práticas mais sustentáveis em nosso dia a dia.</p>
      <hr class="texto-roxo mb-4" style="height:2px;opacity:100%" />
    </div>
  </div>
  <div class="container-fluid py-5" id="destination2" #destination2Ref>
    <div class="container pt-5">
      <h2 class="text-uppercase texto-grande text-center texto-roxo">Um pouco mais além do nosso <br /> dia-a-dia ! </h2>
      <figure class="my-4">
        <img class="img-fluid w-100" src="../../../assets/img/ItensDeColeta/coresColeta.jpeg" />
      </figure>
      <p>
        O universo das cores na reciclagem é um verdadeiro mapa, onde cada tonalidade revela um destino específico para os materiais descartados.
        O laranja, vibrante e alerta, sinaliza o perigo iminente ou a contaminação, exigindo manuseio cauteloso e tratamento especializado.
      </p>
      <p>
        Em contrapartida, o branco, símbolo de pureza, direciona os resíduos aos ambulatórios e serviços de saúde, onde a higiene e a segurança são prioridades.
        Já o roxo, misterioso e enigmático, indica materiais radioativos, cujo manuseio requer protocolos rigorosos para evitar riscos à saúde e ao meio ambiente.
      </p>
      <p>
        Os resíduos orgânicos, representados pelo marrom terroso, retornam à terra para um ciclo de renovação, alimentando o solo e contribuindo para a fertilidade.
        Enquanto isso, o cinza neutro revela uma mistura indesejada, indicando materiais não recicláveis ou contaminados, que devem ser separados para um destino adequado.
      </p>
      <p>
        E na paleta de cores da reciclagem, o preto ressoa com a força da madeira, orientando-a para processos específicos de reutilização ou reciclagem,
        garantindo que sua beleza natural não se perca, mas se transforme em novas formas de vida e utilidade.
      </p>
      <p>
        Assim, através das cores, a reciclagem se revela não apenas como um processo prático, mas como uma narrativa vívida de cuidado com o planeta e com as futuras gerações.
      </p>
      <hr class="texto-roxo mb-4" style="height:2px;opacity:100%" />
    </div>
  </div>
</div>
